# Ignore Intel Quartus files
*.bak
*.summary
*.txt
*.rpt
*.cdf
*.done
*.rpt
*.smsg
*.htm
*.jdi
*.pin
*.qpf
*.qsf
*.sdc
*.sld
*.sof
*.qdf
*.xml
*.kpt
*.cdb
*.hdb

*.rdb
*.bpm
*.idb
*.logdb
*.kpt
*.hsd
*.db_info
*.qmsg
*.hier_info
*.hif
*.html
*.ammdb
*.flock
*.sci
*.tdb
*.ddb
*.tmw_info
*.json
*README
*.dfp
*.sig
*.rcfdb
*.dpi
*.hb_info
*.sig
